h1 {
  color: darkblue; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 8vh; 
  line-height: 8vh; 
  font-weight: bold; 
  margin-bottom: 0px; 
  margin-top: 3vh; 
  text-align: center; 
  text-shadow: 0 1px 1px ivory;
  }

  body{
    margin: 0;
    padding: 0;
    background-color: ivory;
  }

  .nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  @media only screen and (min-width: 768px){
    .nav li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
      display: inline-block;
      text-decoration: line-through;
    }
  }

  @media screen and (min-width: 600px) {
    .nav li {
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
      margin-right: -4px;
      width: 150px;
      font-size: 1.2em;
      line-height: 50px;
      height: 50px;
      border-bottom: none;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .nav li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      line-height: 60px;
      height: 60px;
      border-bottom: 1px solid #888;
      text-decoration: none;
      width: auto;
      padding-left: 1em;
    }
  }
   
  .nav a {
    text-decoration: none;
    color: darkgreen;
    display: block;
    transition: .5s;
  }
   
  .nav a:hover {
    background-color: slategray;
    color: darkred;
  }
   
  .nav a.active {
    background-color:ivory;
    color: black;
    cursor: default;
    font-weight: bold;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  .roundimg {
    border-radius: 45%;
  }

  .roundbrimg {
    border-radius: 8px;
  }

  p {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7vh;
    text-align: justify;
    padding: 1% 8%;
  }

  div {
    margin: 20px;
  }
  
  .certs div {
    text-align: center;
  }

  .certs ul {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h3 {
    font: bold 32px Helvetica, Verdana, sans-serif;
  }
  
  .certs li img {
    float: left;
    margin: 0 15px 0 0;
    border-radius: 20%;
  }
  
  .certs li p {
    font: 20px Georgia, Verdana, serif;
  }
  
  .certs li {
    padding: 10px;
    overflow: auto;
  }
  
  .certs li:hover {
    background: rgb(99, 98, 98);
    cursor: pointer;
  }
  
  .certs a:link {
    text-decoration: none;
  }
  
  .certs a:visited {
    color: black;
    text-decoration: none;
  }

video {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

address {
  font-family: Arial, Helvetica, sans-serif;
  color: #07c637;
  font-size: 1.4em;
  text-decoration-style: wavy;
}

form {
  width: 650px;
  padding: 1em;
  border: 2px solid #000;
  border-radius: 1em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 470px;
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  text-align: justify;
}

input,
textarea {
  font: 2.5vh sans-serif;
  width: 400px;
  border: 1px solid #999;
  padding: 3px;
  background-color: bisque;
}

fieldset {
  margin-bottom: 1em;
}

input[type="submit"] {
  border: 2px solid black;
  width: 310px;
  color: white;
  border-radius: 0.25em;
}

table {
  font-size: 2.7vh;
  width: 750px;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
  margin-left: auto;
  margin-right: auto;
}

table th {
  text-transform: uppercase;
  text-align: left;
  background: #44475C;
  color: #FFF;
  padding: 8px;
  min-width: 30px;
}

table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}



.accordion {
  width: 100%;
  max-width: 1080px;
  height: 550px;
  overflow: hidden;
  margin: 50px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 10px;
}
.accordion ul li div a p {
  top: 80px;
  font-size: 20px;
  color: #fff;
}

.accordion ul li:nth-child(1) { background-image: url("../images/raul.jpg");}
.accordion ul li:nth-child(2) { background-image: url("../images/zidane.jpg"); }


.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover { width: 60%; }
.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  .accordion { height: auto; }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  }

  .pcontainer {
    text-align: center;
    display: block;
    width: auto;
    height: auto;
    padding: 1% 1%;
    box-sizing: border-box;
    height: 10vh;
  }
  
  .container {
    background-color: white;
      display: flex;
      width: 100%;
      padding: 4% 2%;
      box-sizing: border-box;
      height: 75vh;
    }
    
    .box {
      flex: 1;
      overflow: hidden;
      transition: 1s;
      margin: 0 2%;
      box-shadow: 0 20px 30px rgba(0,0,0,.1);
      line-height: 0;
    }
    
    .box > img {
      width: auto;
      height: auto;
      object-fit: none; 
      transition: 1s;
    }
    
    .box > span {
      color: white;
      font-size: 3.8vh;
      display: block;
      text-align: center;
      height: 10vh;
      line-height: 2.6;
      background-color: black;
    }
    
    .travels {
      color: #e69533;
      font-family: 'Courier New', Courier, monospace; 
      font-size: 4vh; 
      line-height: 8vh; 
      font-weight: bold; 
      margin-bottom: 0px; 
      margin-top: 2vh; 
      text-align: center; 
      text-shadow: 0 1px 1px #fff;
    }